asgiref==3.8.1
build==1.2.2.post1
colorama==0.4.6
distlib==0.3.9
Django==5.1.5
filelock==3.17.0
mod_wsgi==5.0.2
mysqlclient==2.2.7
numpy==2.2.6
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
virtualenv==20.29.1
wheel==0.45.1
